#on post-fs-data
#    mkdir /data/gps 771 gps system
#    chown system system /data/gps

on post-fs
    # nStandby GPIO
    chmod 0660 /sys/devices/platform/intel_mid_gps/intel_mid_gps/enable
    chown gps gps /sys/devices/platform/intel_mid_gps/intel_mid_gps/enable   

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet radio sdcard_rw net_admin
    oneshot
    disabled
# disabled by dgadelha
